<div class="container">
  <h1>Add a Training</h1>

  <form [formGroup]="trainingFormGroup" id="trainingFormGroup" (ngSubmit)="addTraining(controls)">
    <div class="form-row">
      <div class="col">
        <div>
          <div class="form-group">
            <label for="name">Training Name</label>
            <input type="text" formControlName="name" id="name" class="form-control" />
          </div>
          <div *ngIf="isFormSubmitted && name.invalid && (name.dirty || name.touched)"
               class="alert alert-danger">

            <div *ngIf="name.errors.required">
              Name is required.
            </div>
            <div *ngIf="name.errors.minlength">
              Name must be at least 4 characters long.
            </div>
            <div *ngIf="name.errors.maxlength">
              Name must not be more than 200 characters long.
            </div>
          </div>

          <div class="form-group">
            <label for="start">Start Date</label>
            <input type="date" formControlName="start" id="start" class="form-control" required>
          </div>
          <div *ngIf="isFormSubmitted && start.invalid && (start.dirty || start.touched)"
               class="alert alert-danger">

            <div *ngIf="start.errors.required">
              Start date is required.
            </div>
          </div>
          <div *ngIf="trainingForm.errors?.dateOrder && (trainingForm.touched || trainingForm.dirty)" class="cross-validation-error-message alert alert-danger">
            {{dateOrderError}}
          </div>

          <div class="form-group">
            <label for="end">End Date</label>
            <input type="date" formControlName="end" id="end" class="form-control" required>
          </div>
          <div *ngIf="isFormSubmitted && end.invalid && (end.dirty || end.touched)"
               class="alert alert-danger">

            <div *ngIf="end.errors.required">
              End date is required.
            </div>
          </div>

          <div class="form-row">
            <div class="col">
              <button type="button" class="btn btn-success" (click)="testFill()">Test Fill</button>
            </div>
            <div class="col">
              <button id="confirm" type="submit" class="btn btn-success">Confirm</button>
            </div>
            <div class="col">
            </div>
            <div class="col">
            </div>
            <div class="col">
            </div>
            <div class="col">
            </div>
          </div>
        </div>
      </div>

      <div class="col">
      </div>
    </div>
  </form>
</div>
<ng4-loading-spinner> </ng4-loading-spinner>
