<div class="container">
  <h1>Add a Training</h1>
  <form #f="ngForm" (ngSubmit)="addTraining(f)">
    <div class="form-group">
      <label for="name">Training Name</label>
      <input type="text" ngModel class="form-control" name="name" required>
    </div>

    <div class="form-group">
      <label for="start">Start Date</label>
      <input type="date" ngModel class="form-control" name="start" required>
    </div>

    <div class="form-group">
      <label for="end">End Date</label>
      <input type="date" ngModel class="form-control" name="end" required>
    </div>

    <div class="form-group">
      <label for="duration">Duration</label>
      <input type="text" ngModel class="form-control" readonly="readonly" name="duration" required>
    </div>

    <div class="form-group">
      <button type="button" class="btn btn-success" (click)="testFill()">Test Fill</button>
      <button type="submit" class="btn btn-success">Submit</button>
    </div>
  </form>
</div>
